{% extends "main_template.html.twig" %}


{% block section1 %}
{# <h3>J'espère que tu es en forme {{user.name}} !</h3>
{% for add in lastAdds %}
{{add.title}} {{add.name}} {{add.address}} 
{% endfor %} #}

<div class="row h-100">      
    <!--Section 1 left part-->
    <div class="col-md-6 d-flex justify-content-center align-items-center bg-light">
        <div class="container w-75 h-50" > 
            <div class="row h-100 text-center" id="custom_bg_s1_col1">
                <div class="col-md-12 m-auto">
                    <h2 class="text-center">{{title}}</h2>
                </div>              
            </div>  
        </div>
    </div>
    <!--Section 1 right part-->
    <div class="col-md-6 d-flex justify-content-center align-items-center bg-light">
        <div class="container w-75 h-50" >          
            <div class="row h-100 text-center bg-light" id="custom_bg_s1_col2">
                <div class="col-md-12 m-auto">
                {% block static1 %}{% endblock %} 
                </div>              
            </div>  
        </div>
    </div>
</div>
{% endblock %}

{% block section2 %}
<div class="row h-100">
 <!--Section 2 left part-->
    <div class="col-md-6 d-flex justify-content-center align-items-center">
        <div class="container w-75 h-50" >          
            <div class="row h-100 text-center bg-light" id="custom_bg_s2_col1">
                <div class="col-md-12 m-auto">
                {% block static2 %}{% endblock %}
                </div>              
            </div>  
        </div>
    </div>
 <!--Section 2 right part-->
    <div class="col-md-6 d-flex justify-content-center align-items-center">
        <div class="container w-75 h-50" >          
            <div class="row h-100 text-center bg-light" id="custom_bg_s2_col2">
                <div class="col-md-12 m-auto">
                </div>              
            </div>  
        </div>
    </div>     
</div>
{% endblock %}

{% block section3 %}
<div class="row h-100">
        <!--Section 3 left part-->
    <div class="col-md-6 d-flex justify-content-center align-items-center bg-light">
        <div class="container w-75 h-50" >          
            <div class="row h-100 text-center bg-light" id="custom_bg_s3_col1">
                <div class="col-md-12 m-auto">
                </div>              
            </div>  
        </div>
    </div>
        <!--Section 3 right part-->
    <div class="col-md-6 d-flex justify-content-center align-items-center bg-primary">
          <div class="container w-75 h-50" >          
            <div class="row h-100 text-center bg-light" id="custom_bg_s3_col2">
                <div class="col-md-12 m-auto">
                 {% block static5 %}{% endblock %}
                </div>              
            </div>  
        </div>
    </div>
</div>
{% endblock %}