{% extends "simple_template.html.twig" %}
{% block simplepage %}
  <div class="row h-100 justify-content-center">  
    <!--Section 1 left part-->
    <div class="custom_section col-lg-6 d-flex justify-content-center align-items-center bg-light">
      <div class="container w-100 h-75" > 
        <div class="custom_bg_s1_col1 row h-100 text-center">
          <div class="col-md-12 m-auto p-0 bg-info">
            <h2 class="text-light">{{title}}</h2>
          </div>              
        </div>  
      </div>
    </div>
    <!--Section 1 right part-->
    <div class="custom_section col-lg-6 d-flex justify-content-center align-items-center p-0 bg-light">
      <div class="container w-100 h-100" >          
        <div class="custom_bg_s1_col2 row h-100 text-center bg-light">
          <div class="col-lg-12 m-auto">
            <h2 class="text-primary">Inscris-toi en 2mn !</h2>
            <p class="mb-1">Clique sur le statut qui te correspond</p>  
            <div class="h-25" >
              <button class= "btn btn-primary mb-1" id ="btn_individual">Particulier</button> 
              <button class= "btn  btn-secondary" id ="btn_professional">Professionnel</button> 
            </div>
            <form class="custom_register_form hidden_form h-75 pt-2 bg-info" method="POST" action="index.php?controller=home&action=register" id="register_form">
              <div class="form-group mb-1">
                <label for="input_company"></label>
                <input type="text" placeholder="Nom entreprise" name="company" value="{{newUser.company}}" id="input_company" required />
                <label for="name"></label>
                <input type="text" placeholder="Votre prénom" name="name" id="name" value="{{newUser.name}}"  required />
                <label for="surname"></label>
                <input type="text" placeholder="Votre nom" name="surname" id="surname" value="{{ newUser.surname}}" required />
              </div>
              <div class="form-group mb-1">
                <label for="address"></label>
                <input type="text" placeholder="Adresse" name="address" id="address" value="{{newUser.address}}"  required />
                <label for="zip_code"></label>
                <input type="text" placeholder="Code postal" name="zip_code" id="zip_code" value="{{newUser.zip_code}}" required />
                <label for="city"></label>
                <input type="text" placeholder="Ville" name="city" id="city" value="{{newUser.city}}" required />
              </div>
              <div class="form-group d-flex justify-content-center mb-1">
                <label for="phone"></label>
                <input type="text" placeholder="n° tel" name="phone" id="phone" value="{{newUser.phone}}" required />
                <label for="email"></label>
                <input type="email" placeholder="email" name="email" id="email" value="{{newUser.email}}" required />
              </div>
              <div class="form-group mb-1">
                <label for="password"></label>
                <input type="password" placeholder="mot de passe" name="password" id="password" required />
              </div>
              <div class="form-group mb-1">
                <input type="hidden" name="role" id="role_user" value="{{newUser.role}}"/>
              </div>
                <!--1 = particulier -->
              <div class="form-group mb-1">
                <label for="description"></label>
                <textarea placeholder="Description" name="profile" id="description">{{newUser.name}}</textarea>
              </div>
              <div class="form-check mb-1">
                <input class="form-check-input" type="checkbox" value="accepted" id="rgpd" name="rgpd" required>
                <label class="form-check-label" for="rgpd">
                </label>
                <a href="#" class="text-light" data-toggle="modal" data-target="#modalMentions">Accepter les mentions légales ?</a>
                <!--modal-->
                <div class="modal fade" id="modalMentions" tabindex="-1" role="dialog" aria-labelledby="modalMentionsTitle" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title text-center text-primary" id="modalMentionsTitle">MENTIONS LEGALES :</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <h3 class="text-center text-primary mb-5"> En vigueur au 04/07/2020</h3>
                        <p>Conformément aux dispositions des Articles 6-III et 19 de la Loi n°2004-575 du 21 juin 2004 pour la Confiance dans l’économie
                        numérique, dite L.C.E.N., il est porté à la connaissance des Utilisateurs du site https://3flans6choux.desmet-webdev.fr/index.php?
                        controller=home&action=index les présentes mentions légales.<br>
                        La connexion et la navigation sur le site (indiquer le nom du site) par l’Utilisateur implique acceptation intégrale et sans réserve
                        des présentes mentions légales.<br>
                        Ces dernières sont accessibles sur le site à la rubrique « Mentions légales ».<br>
                        <h4>ARTICLE 1 : L’ÉDITEUR</h4>
                        <p>L’édition et la direction de la publication du site</p> <a class="text-primary" href="https://3flans6choux.desmet-webdev.fr/index.php?controller=home&action=index">https://3flans6choux.desmet-webdev.fr/index.php?
                        controller=home&action=index</a>
                        <p>est assurée par :<br> Natacha DE SMET,<br> domiciliée rue bel air à Saint Martin des Champs (29),<br> dont l'adresse e-mail est natachadesmet@yahoo.fr.</p><br>
                        <h4>ARTICLE 2 : L’HÉBERGEUR</h4>
                        <p>L'hébergeur du site https://3flans6choux.desmet-webdev.fr/index.php?controller=home&action=index est :<br> la Société IONOS,<br> dont
                        le siège social est situé au 7 Place de la gare 57200 SARREGUEMINES </p>
                        <h4>ARTICLE 3 : ACCÈS AU SITE</h4>
                        <p>Le site est accessible par tout endroit, 7j/7, 24h/24 sauf cas de force majeure, interruption programmée ou non et pouvant
                        découlant d’une nécessité de maintenance.<br>
                        En cas de modification, interruption ou suspension des services le site https://3flans6choux.desmet-webdev.fr/index.php?
                        controller=home&action=index ne saurait être tenu responsable.</p>
                        <h4>ARTICLE 4 : COLLECTE DES DONNÉES</h4>
                        <p>Le site est exempté de déclaration à la Commission Nationale Informatique et Libertés (CNIL) dans la mesure où il ne collecte
                        aucune donnée concernant les utilisateurs.</p>
                        <h4>ARTICLE 5 : COOKIES</h4>
                        <p>L’Utilisateur est informé que lors de ses visites sur le site, un cookie peut s’installer automatiquement sur son logiciel de
                        navigation.<br>
                        En naviguant sur le site, il les accepte.<br>
                        Un cookie est un élément qui ne permet pas d’identifier l’Utilisateur mais sert à enregistrer des informations relatives à la
                        navigation de celui-ci sur le site Internet.<br> L’Utilisateur pourra désactiver ce cookie par l’intermédiaire des paramètres figurant au
                        sein de son logiciel de navigation.
                        </p>
                        <h4>ARTICLE 6 : PROPRIÉTÉ INTELLECTUELLE</h4>
                        <p>Toute utilisation, reproduction, diffusion, commercialisation, modification de toute ou partie du site https://3flans6choux.desmetwebdev.fr/index.php?controller=home&action=index, sans autorisation de l’Editeur est prohibée et pourra entraînée des actions
                        et poursuites judiciaires telles que notamment prévues par le Code de la propriété intellectuelle et le Code civil.</p>
                      </div>  
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Compris</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <button class="btn btn-primary mb-1" type="submit">Je m'inscris</button>
            </form>        
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block javascript %}
  <script src="js/register.js"></script>
{% endblock %}
