{% extends "admin_template.html.twig" %}
{% block section1L %}
  <div class="container-fluid h-100 pt-5" >          
    <div class="container mt-3 mx-auto">
      <h3 class="custom_engraved_text text-center">Mes paniers</h3>
      <p class="mb-1">Nombre total de paniers : {{myBasketsTotal}}
      </p>
    </div>  
          
    <div class="custom_admin_adds_table row h-50 justify-content-center align-items-center">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr class="text-info">
              <th scope="col">#</th>
              <th scope="col">Catégorie</th>
              <th scope="col">TITRE</th>
              <th scope="col">DESCRIPTION</th>
              <th scope="col">DISPONIBLE ?</th>
              <th scope="col">IMG</th>
              <th scope="col">ACTION ?</th>
            </tr>
          </thead>
          <tbody>
            {% for basket in myBasketsPage %}
              <tr>                
                <td>{{basket.id}}</td>
                <td>{{basket.select_value}}</td>
                <td>{{basket.title}}</td>
                <td>{{basket.description}}</td>
                <td>{% if basket.available is same as(0) %}Non{% else %}Oui{% endif %}</td>
                <td>{{basket.picture}}</td>
                <td>
                  <p>
                    <a href="#" class="edit_basket">Modifier</a>
                  </p>
                  <p>
                    <a href="index.php?controller=baskets&action=deleteBasket&param={{basket.id}}" class="delete_basket">Supprimer</a>
                  </p>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>              
      
    <div class="row justify-content-center mt-2"> 
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item{% if previousPage is same as(0) %} disabled{% endif %}">
            <a class="page-link" {% if previousPage is same as(0) %}tabindex="-1"{% endif %} href="index.php?controller=baskets&action=myBaskets&param={{previousPage}}">Previous</a>
          </li>
          
          <li class="page-item">
            <a class="page-link" href="#">{{page}}</a>
          </li>
          <li class="page-item{% if nextPage is null %} disabled{% endif %}">
            <a class="page-link" {% if nextPage is null %}tabindex="-1"{% endif %} href="index.php?controller=baskets&action=myBaskets&param={{nextPage}}">Next</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
{% endblock %}

{% block section1R %}
  <div class="container h-75">          
    <div class="row h-100 text-center" id="custom_bg_s1_col2">
      <div class="col-md-12 m-auto">                 
        <form class="hidden_form " method="POST" action="index.php?controller=baskets&action=updateBasket" enctype="multipart/form-data">
          <h3>Modifier un panier</h3> 
          <div class="text-warning bg-light" id="formAlert"></div>
          <div class="form-group d-flex justify-content-between">
            <label for="category"></label>
            <select class="form-control" name="category" id="category" required >
              {% for category in categories %}
                <option value="{{ category.id }}">{{ category.select_value }}</option>
              {% endfor %}            
            </select>
            <label for="title"></label>
            <input class="form-control" type="text" placeholder="Titre" name="title" id="title" value="{{basket.title}}" required/>
          </div>
          <div class="form-group mb-1">
            <label for="description"></label>
            <textarea class="form-control" placeholder="Description" name="description" id="description" required>{{basket.description}}</textarea>
          </div>
          <div class="container d-flex justify-content-around">
            <div class="form-group col-5 p-1">
              <label class="col-form-label" for="available">Disponible ?</label>
              <select class="form-control" name="available" id="available" required > 
                <option value="1"{% if  basket.available is same as(1) %} selected{% endif %}>Oui</option>
                <option value="0"{% if  basket.available is same as(0) %} selected{% endif %}>Non</option>
              </select>
            </div>
            <div class="form-group col-7 d-flex flex-column align-items-center">
                <label class="col-form-label" for="picture">Changer image</label>
                <img id="pictureDisplay" class="custom_edit_picture" alt="image panier">
                <input type="file" id="picture" name="picture">         
            </div>
          </div>  
          <div class="form-group m-0">  
            <input type="hidden" name="id" id="id" value="{{basket.id}}"/>
          </div>
            <button class="btn btn-primary" type="submit">Valider</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}

{% block javascript %}
  <script src="js/editbasket.js"></script> 
{% endblock %}
